[submodule "payos-contracts/lib/forge-std"]
	path = payos-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "payos-ui/lib/forge-std"]
	path = payos-ui/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
